{
    "linters": {
        "src/*/*.ts": [
            "prettier-eslint --write",
            "eslint --fix",
            "git add"
        ],
        "src/*/*.js": [
            "prettier-eslint --write",
            "eslint --fix",
            "git add"
        ]
    }
}